*.o
*.dSYM
*.csv
*.out
*.png
*.jpg
*.pyc
old/
mnist/
data/
caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
cfg/
darknet
.fuse*

# Siyuan added
*.so
.vscode/
yolov3.weights
debug/
prediction_info.txt

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp
